body {
    background-color: #001632 !important;
}

h1 {
    color: #808b9a !important;
    font-size: 4rem !important;
}

.IN {
    width: 20rem !important;
    height: 4.6rem !important;
    border-radius: 10px;
    margin-right: 3rem;
}

.height {
    height: 6rem !important;
}

.m-r {
    margin-right: 30rem;
}

/* .check {
    display: flex !important;
} */